<app-header></app-header>
<ion-content>
  <div class="carousel-wrapper" *ngIf="eventos.length > 1">
    <mdb-carousel [controls]="true" [animation]="'fade'">

      <mdb-carousel-item *ngFor="let evento of eventos" class="carousel-item-custom">
        
        <div class="carousel-content" [ngStyle]="{'background-image': 'url(' + evento.imagen + ')'}">
          <div class="overlay"></div>
          <div class="text-content">
            <h2>{{ evento.nombreEvento }}</h2>
            <p>{{ evento.descripcion }}</p>
            <button class="ver-mas"  [routerLink]="['/detalles-evento', evento.id]" (click)="recargarPagina()">Ver más</button>
          </div>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
  </div>

  <div *ngIf="eventos.length === 1">
    <div class="carousel-content" [ngStyle]="{'background-image': 'url(' + eventos[0].imagen + ')'}">
      <div class="overlay"></div>
      <div class="text-content">
        <h2>{{ eventos[0].nombreEvento }}</h2>
        <p>{{ eventos[0].descripcion }}</p>
        <button class="ver-mas" [routerLink]="['/detalles-evento', eventos[0].id]">Ver más</button>
      </div>
    </div>
  </div>

  <div class="ion-select-wrapper">
    <ion-select placeholder="Ordenar partidos">
      <ion-select-option value="opcion1">Fecha ascendente</ion-select-option>
      <ion-select-option value="opcion2">Fecha descendente</ion-select-option>
    </ion-select>
  </div>

  <ion-card *ngFor="let evento of eventos | paginate: { itemsPerPage: 5, currentPage: p }" class="custom-card mt-5 mb-3">
    <ion-card-content class="card-content">
      <div class="content-container">
        <ion-thumbnail slot="start" class="custom-thumbnail">
          <img [src]="evento.imagen" alt="Imagen del evento" />
        </ion-thumbnail>
        <div class="text-container">
          <h2>{{ evento.nombreEvento }}</h2>
          <p>{{ evento.descripcion }}</p>
          <div class="button-container">
            <ion-button *ngIf="checkTrabajadorInscrito(evento)" class="small-button colorN" (click)="quitarEvento(evento.id)">
              Desapuntarse
            </ion-button>
            <ion-button *ngIf="!checkTrabajadorInscrito(evento)" class="small-button colorN" (click)="anadirEvento(evento.id)">
              Apuntarse
            </ion-button>
            <ion-button class="small-button colorN" [routerLink]="['/detalles-evento', evento.id]">Ver más</ion-button>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <div class="pagination-wrapper">
    <ion-button class="colorPaginacion" *ngIf="p > 2" (click)="changePage(1)"><<</ion-button>
    <ion-button class="colorPaginacion" *ngFor="let page of pagesToShow" [ngClass]="{'btn-destacar': page === p}" (click)="changePage(page)">
      {{ page }}
    </ion-button>
    <ion-button class="colorPaginacion" *ngIf="p < totalPages - 1" (click)="changePage(totalPages)">>></ion-button>
  </div>

</ion-content>
