<div class="admin-panel">
  <div class="header">
    <div class="checkbox-group">
      <label>
        <input type="checkbox" name="roles" value="administradores">
        Administradores
      </label>
      <label>
        <input type="checkbox" name="roles" value="usuarios">
        Usuarios
      </label>
    </div>
    <div class="logo">
      <img src="../../../assets/images/logoBlanco.png" alt="Logo"> 
    </div>
  </div>
  <div class="table">
    <div class="table-row" *ngFor="let user of users">
      <div class="table-cell">{{ user.name }}</div>
      <div class="table-cell">{{ user.email }}</div>
      <div class="table-cell">{{ user.role }}</div>
      <div class="table-cell">
        <input type="checkbox" [(ngModel)]="user.selected" />
      </div>
    </div>
  </div>
</div>
