.admin-panel {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
}

.checkbox-group {
  display: flex;
  gap: 10px;
}

.logo img {
  height: 50px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #272253;
  color: white;
  padding: 10px;
  margin-bottom: 5px;
}

.table-cell {
  flex: 1;
  padding: 10px;
}

.table-cell input[type="checkbox"] {
  transform: scale(1.5);
}

.table-cell:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
